@{
    Layout = null;
    ViewBag.Title = "UnAuthorized";
}
<div class="col-lg-2">
</div>
<div class="col-lg-8 bs-callout bs-callout-warning">
    <span class="text-warning h1"><span class="button"><i class="glyphicon glyphicon-warning-sign">
    </i>&nbsp; </span><span class="nxttext ">You are Un Authorized to view this page.</span>
    </span>
</div>
