<div class="col-lg-12">
<!--
d3 angular charts we may use by implementing the angular directive.
             https://stackoverflow.com/questions/25607455/d3js-angularjs-use-d3js-in-angular-directives
             http://odiseo.net/angularjs/proper-use-of-d3-js-with-angular-directives
-->
<!--https://google-developers.appspot.com/chart/interactive/docs/gallery/combochart-->
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawProcessor);

        var procData = eval("[['Actul Utilization', 'Target', 'Total Time Spent'], @Html.Raw(ViewBag.Processor)]");


        function drawProcessor() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable(procData);

            var options = {
                title: 'Daily utilization',
                vAxis: { title: 'Daily Hours' },
                hAxis: { title: 'Actual Utilization' },
                seriesType: 'bars',
                series: { 2: { type: 'line'} }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <div id="chart_div" style="width: 200px; height: 200px;"></div>

</div>