<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\sqlexpress; Initial Catalog = FinanceTeamTracker_prod; User ID = sa; Password = Ryan" />
  </connectionStrings>
  <appSettings>
    <!--<add key="Email" value="Shashank.Matam@ryan.com"/>-->
    <add key="Salutation" value="Shashank" />
    <add key="ccEmail" value="Srinivasarao.kamineni@ryan.com" />
    <add key="bccEmail" value="Srinivasarao.kamineni@ryan.com" />
    <add key="subject" value="Finance team report for the day - {0}" />
    <add key="SendEmail" value="true" />
    <add key="ExcelPath" value="C:\Temp" />
    <add key="Frequency" value="7"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>