@{
    ViewBag.Title = "Finance Team Tracker";
}
<div ng-view>
</div>
@section scripts{
    <script src="~/Scripts/app/routeConfig.js" type="text/javascript"></script>
    <script src="~/Scripts/app/loginCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/app/reviewerCtrl.js" type="text/javascript"></script> 
    <script src="~/Scripts/app/revCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/app/userCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/app/activityCrl.js" type="text/javascript"></script>
    <script src="~/Scripts/app/fileDownload.js" type="text/javascript"></script>
    <script src="~/Scripts/app/reportsCtrl.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script src="~/Scripts/app/wmCharts.js" type="text/javascript" ></script>
}
